---
import { getCollection } from "astro:content";
import LayoutMain from "@/layouts/LayoutMain.astro";
import IconChevronRight from "@icons/IconChevronRight.astro";

const Capitalize = (text: string) => {
  const phrases = text.split("-");

  let newText = "";
  phrases.forEach((word) => {
    const firstLetter = word.charAt(0).toUpperCase();

    const remainingLetters = word.substring(1);

    newText += `${firstLetter}${remainingLetters} `;
  });

  return newText.trim();
};

const posts = await getCollection("blog");
// .sort(
// );
---

<LayoutMain title="Blog">
  <article class="grid grid-rows-1 md:px-12">
    <div class="my-8" aria-label="list of blogs">
      <section class="md:w-3/4 mx-4 max-md:max-w-full">
        <h2 class="text-2xl font-bold text-blue-aqua">
          Writing on software design, company building, and the aerospace
          industry.
        </h2>
        <p class="mt-5 mb-8">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel neque,
          beatae laborum quaerat, nobis soluta nostrum autem possimus explicabo,
          labore officiis doloremque nam hic itaque accusantium dolores
          architecto voluptas reprehenderit!
        </p>
      </section>
      {
        posts.map((post) => (
          <section class="flex flex-row border-1 border-shadow border-s-slate-500">
            <div class="pt-5 w-2xs max-md:w-24 max-md:ml-3 ml-5">
              <p class="text-sm text-emerald-600">{post.data.pubDate}</p>
            </div>

            <div class="max-md:ml-3 w-[85%] mb-5 p-5 grid gap-2 rounded-lg hover:bg-zinc-800">
              <strong class="text-blue-aqua">
                {Capitalize(post.data.title)}
              </strong>
              <p class="text-blue-sky mb-5">{post.data.description}</p>
              <a
                class="text-white w-fit flex justify-stretch hover:text-emerald-400"
                href={`/blog/${post.slug}/`}
              >
                Read posts
                <IconChevronRight />
              </a>
            </div>
          </section>
        ))
      }
    </div>
  </article>
</LayoutMain>
